
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  background-image: url("mub.jpg") ;
  
  background-size: cover; /* Image covers the entire element */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; 
  height: max-content;
 
}

.container {
  text-align: center;
  margin-top: 100px;

}

.player {
  border: 1px solid #ccc;
  width: 300px;
  padding: 20px;
  margin: 0 ;
}

h1 {
  font-family: Arial, sans-serif;
}

.controls {
  margin-bottom: 20px;
}

.controls button {
  margin-right: 10px;
  background-color: aquamarine;
}

.song-info {
  font-family: Arial, sans-serif;
}

#song-title {
  font-size: 18px;
  font-weight: bold;
}

#artist {
  font-size: 14px;
  color: #666;
}
.navbar {
  background-color: #333;
  overflow: hidden;
  margin: 0;
}

.navbar li {
  float: left ;

  color: white;
  text-align: center;
  padding: 14px 30px 14px 30px;
  text-decoration: none;
  list-style: none;
}

.navbar li:hover {
  background-color: #ed8d8d;
 
 
}

audio {
  background-color: rgb(0, 255, 170);
  border-radius: 10cap;
  size: 50px;
}
.active{
  color: rgb(13, 128, 0);
}

.fontAwesome {
 
  background-color: transparent;
}